html {
    background: url(../backgrounds/desertbg.png) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Oxygen', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: black;
    opacity: .5;
}

.header .name {
    font-size: 2em;
    color: #FFD681;
    opacity: 1;
    padding: 12px;
}

.header .links {
    display: flex;
    opacity: 1;
}

.header .links a {
    text-decoration: none;
    color: white;
}

.header .links .link {
    margin-left: 15px;
    border: 1px solid #4b4474;
}

.middle-page {
    margin-top: 10%;
    margin-bottom: 15%;
    background: black;
    color: #4b4474;
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0));
}
 .footer {
    color: #4b4474;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
 }

 .footer .left {
    display: flex;
 }

 .footer .contact {
     font-size: 1.2em;
     font-weight: 900;
     color: #4b4474;
 }

.footer .right {
    display: flex;
    text-align: right;
    margin-left: 42px;
}